{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Gráfico{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    
  </head>
  <body>
    
    <! -- Barra de navegação -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Python Investimentos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Página Inicial <span class="sr-only">(current)</span></a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Investimentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Carrinho</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cadastre-se</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>    

    <h1>Investimento X</h1>

    <! -- Botões superiores relacionados ao histórico do investimento -->
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-success">Últimos 3 dias</button>
      <button type="button" class="btn btn-success">Últimos 7 dias</button>
      <button type="button" class="btn btn-success">Últimos 20 dias</button>
    </div>
    {% block content %}
    
    {% endblock %}

    {% block scripts %}

    {% endblock %}

    <! -- Botões inferiores -->
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-success">Manter Investimento</button>
      <button type="button" class="btn btn-danger">Remover Investimento</button>
    </div>    


    <script src="{% static 'static/js/bootstrap.js' %}"></script>
  </body>
</html>