{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<link rel="stylesheet" href="../static/css/busca.css" />

<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
</head>
<body>
    <script src="../static/js/busca.js"></script> 

    

    {% if snack %}
      <div id="snackbar">
        <p>Ação adicionada ao carrinho</p>
        <form action="/busca" method="POST">
          {% csrf_token %}
          <input type="hidden" name="desfazer" value="true">
          <input type="submit" value="Desfazer">
        </form>
        
      </div> 
      <script>showSnackbar()</script>
    {% endif %}

    {% if desfeito %}
    <div id="snackbar">
      <p>Ação desfeita</p>
    </div> 

    <script>showSnackbar()</script>
  {% endif %}
    
    <form action="/busca" method="POST">
        {% csrf_token %}
        <label for="busca"> Busca:</label>
        <input type="text" id="busca" name="busca"><br><br>
        <input type="submit" value="Pesquisar">
    </form>
    
    <!-- <button class="btn btn-lg" 
    onclick="showSnackbar()"> 
 Show Snackbar 
</button>  -->
    <main>
      {% for acao in acoes %}
      <div class="info-acao">
        <h2>{{acao.name}} </h2>
        <p>Símbolo: {{acao.symbol}}</p>
        <p>Preço: R${{acao.price}}</p>

        <div class="add-carrinho-div">
          
          <form id="add-carrinho" action="/busca" method="POST" >
            {% csrf_token %}
            <input type="hidden" name="symbol" value="{{acao.symbol}}">
            <input type="hidden" name="name" value="{{acao.name}}">
            <input type="hidden" name="region" value="{{acao.region}}">
            <input type="hidden" name="currency" value="{{acao.currency}}">
            <input type="hidden" name="open" value="{{acao.market_time.open}}">
            <input type="hidden" name="close" value="{{acao.market_time.close}}">
            <input type="hidden" name="timezone" value="{{acao.market_time.timezone}}">
            <input type="hidden" name="market_cap" value="{{acao.market_cap}}">
            <input type="hidden" name="price" value="{{acao.price}}">
            <input type="hidden" name="change_percent" value="{{acao.change_percent}}">
            <input type="hidden" name="updated_at" value="{{acao.updated_at}}">
            <input type="submit" value="Adicionar ao carrinho">
          </form>
 
        </div>
        
    
      </div>
      {% endfor %}
    </main>
    
    
</body>

</html>
