{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<link rel="stylesheet" href="../static/css/busca.css" />

<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
</head>


<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/busca" class="navbar-brand">
      <img id="logo" src="../static/images/logo_cortado.png" alt="Logo"
    /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        
        </li>
        <!-- <li class="nav-item active"> -->
        <li class="nav-item">
          <a class="nav-link" href="/carrinho">Carrinho</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meus_investimentos/">Meus investimentos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <form id = "sair" method="GET">
                  {% csrf_token %}
                  <a type="submit" class="nav-link" href ="/busca/entrar"> Sair </a>
            </form>
          
        </li>
      </ul>
    </div>
  </nav>    

    <script src="../static/js/busca.js"></script> 

<div class="content">
    {% if snack %}
    <div id="snackbar">
      <p>Ação adicionada ao carrinho</p>
      <form action="/busca" method="POST">
        {% csrf_token %}
        <input type="hidden" name="desfazer" value="true">
        <input type="submit" value="Desfazer">
      </form>
      
    </div> 
    <script>showSnackbar()</script>
  {% endif %}

  {% if desfeito %}
  <div id="snackbar">
    <p>Ação desfeita</p>
  </div> 

  <script>showSnackbar()</script>
  {% endif %}

  <form id = "busca" action="/busca" method="POST">
      {% csrf_token %}
      <div class="campo">
        <label for="busca"> Busca:</label>
        <input type="text" id="busca" name="busca">
      </div>
      
      <input id= "pesquisar-button" type="submit" value="Pesquisar">
  </form>


  <main>
    {% for acao in acoes %}
    <div class="info-acao">
      <div class="informacao">
        <h2>{{acao.name}} </h2>
        <p>Símbolo: {{acao.symbol}}</p>
        <p>Preço: R${{acao.price}}</p>
  
      </div>
    
      <div class="add-carrinho-div">
        
        <form  class="login-form" id="add-carrinho" action="/busca" method="POST" >
          {% csrf_token %}
          <input type="hidden" name="symbol" value="{{acao.symbol}}">
          <input type="hidden" name="name" value="{{acao.name}}">
          <input type="hidden" name="region" value="{{acao.region}}">
          <input type="hidden" name="currency" value="{{acao.currency}}">
          <input type="hidden" name="open" value="{{acao.market_time.open}}">
          <input type="hidden" name="close" value="{{acao.market_time.close}}">
          <input type="hidden" name="timezone" value="{{acao.market_time.timezone}}">
          <input type="hidden" name="market_cap" value="{{acao.market_cap}}">
          <input type="hidden" name="price" value="{{acao.price}}">
          <input type="hidden" name="change_percent" value="{{acao.change_percent}}">
          <input type="hidden" name="updated_at" value="{{acao.updated_at}}">
          <input type="hidden" name="adicionar" value="true">
          <input id = "adicionar-button" type="submit" value="Adicionar ao carrinho">
        </form>

      </div>
      

    </div>
    {% endfor %}
  </main>

</div>
   
</body>

</html>