<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Investimentos</title>

    <link
      rel="shortcut icon"
      href="../static/images/logo.png"
      type="image/png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
  </head>
  <body>
    <header>
      <img src="../static/images/logo.png" alt="" />
      <ul>
        <li><a href="/entrar">Entrar</a></li>
        <li><a href="/registrar">Registrar</a></li>
        <li><a href="#">Sobre nós</a></li>
      </ul>
    </header>
    <main>
      <h1>Aprenda a <span>investir</span> de forma fácil e intuitiva.</h1>
      <a href="/registrar">Começar agora!</a>
    </main>
  </body>
</html>
