{% load static%}
<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Python Investimentos</title>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
<link href="static/css/man.css" rel="stylesheet" type="text/css">
<script src="static/css/man.css"></script>
<script src="main.css"></script>
<link rel="stylesheet" href="{% static 'css/man.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="man.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="/busca" class="navbar-brand">
        <img id="logo" src="../static/images/logo_cortado.png" alt="Logo"
      /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/busca">Busca<span class="sr-only">(current)</span></a>
          </li>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/meus_investimentos/">Meus Investimentos</a>
          </li>
          <li class="nav-item">
            <form id = "sair" method="GET">
                  {% csrf_token %}
                  <a type="submit" class="nav-link" href ="/carrinho/entrar"> Sair </a>
            </form>
          </li>
        </ul>
      </div>
    </nav> 
    <header>
   
      
      <link rel="stylesheet" href="../static/css/carrinho.css" />
      

      <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet"
      />

    </header>

  <section id="backs">
  

    <main>
      
      <div class="tabela-investimentos">
        <!-- colocar dados aqui  -->
        {% if vazio %}
          <h2>Carrinho Vazio</h2>
        {% endif %}
        
        {% for acao in acoes %}
        <div class="acao">
          <tr>
            <td><img src="https://dummyimage.com/50x50/fc9921/fff" /> </td>
            <td> {{acao.name}} </td>
            <td>Símbolo: {{acao.symbol}}</td>
            <td class="text-right">Preço: R${{acao.price}}</td>
            
          </tr>
        </div>
     
        {% endfor %}
      </div>
        <div class="direita">
          <div class="botoes">
            <form method="POST" action="/carrinho">
              {% csrf_token %}
              <input type="hidden" name="investir" value="investir">
              <input type="submit"  value="Investir" id="investir" />

            </form>
            <form method="POST" action="/carrinho">
              {% csrf_token %}
              <input type="hidden" name="excluir" value="excluir">
              <input type="submit"  value="Excluir" id="excluir" />
            </form>
          </div>
          
  
  
          <script src="../static/js/carrinho.js"></script>
        </div>              
    
     

    </section>

      <section class="caixa" ><!--/Início seção recursos -->
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img src="{% static 'images/facil.png' %}" class="img-fluid">
              <h4>Fácil de usar</h4>
              <p>
                A Pyvest vai além do básico e permite que você faça controles incríveis, essenciais para suas finanças. Simples como tem que ser!
              </p>
            </div>
            <div class="col-md-4">
              <img src="{% static 'images/economize.png' %}"  class="img-fluid">
              <h4>Economize seu tempo</h4>
              <p>
                Tempo é dinheiro! Em segundos, você tem tudo sob controle e aproveite seu tempo com o que realmente importa pra você!
              </p>
            </div>
            <div class="col-md-4">
              <img src="{% static 'images/suporte.png' %}"  class="img-fluid">
              <h4>Suporte amigo</h4>
              <p>
                Dúvidas? Perguntas? Nosso suporte super legal ajuda você! A gente tá aqui pra resolver seus problemas e deixar sua vida bem mais fácil!
              </p>
            </div>
          </div>
        </div>
      </section><!--/FIM seção recursos -->

    </main>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>