{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Meus investimentos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="../static/css/meus_investimentos.css" />

  </head>
  <body>    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="/busca" class="navbar-brand">
        <img id="logo" src="../static/images/logo_cortado.png" alt="Logo"
      /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/busca">Busca<span class="sr-only">(current)</span></a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre nós</a>
          </li>
          <!-- <li class="nav-item active"> -->
          <li class="nav-item">
            <a class="nav-link" href="/carrinho">Carrinho</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Sair</a>
          </li>
        </ul>
      </div>
    </nav>    
    
    
     <!-- Lista de botões dos investimentos do usuário -->
    <!-- {% for acao in acoes %}
      <form method="POST" action="/meus_investimentos/">
        {% csrf_token %}
        <input type="hidden" name="symbol" value={{ acao.symbol}}>
        <input type="hidden" name="id" value={{ acao.id }}>

        <button type="submit" class="btn btn-success mx-auto" style= "max-width: 100%;">{{ acao.name }}</button>
      </form>
      <p></p>
    {% endfor %} -->

    {% for acao in acoes %}

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <form method="POST" action="/meus_investimentos/">
                  {% csrf_token %}
                  <input type="hidden" name="symbol" value={{ acao.symbol}}>
                  <input type="hidden" name="name" value={{ acao.name}}>
                  <button type="submit" class="btn btn-success">{{ acao.name }}</button>
                </form>

                <form method="POST" action="/meus_investimentos/">
                  {% csrf_token %}
                  <input type="hidden" name="id" value={{ acao.id }}>
                  <button type="submit" class="btn btn-danger"> Excluir </button>
                </form>

              </div>
            </div>
      <p></p>
    {% endfor %}





      <!-- <div class="list-group ml-5 mr-5 mb-2">
        
        <button value="{{ acao.name }}"   type="submit" class="list-group-item list-group-item-action">
          <div class="código ml-auto">
            {{ acao.name }}
          </div>
          <div class="nome mr-auto">
              <h4>{{ acao.symbol }} <span class="badge badge-warning mr-auto">{{ acao.price }}</span></h4>
          </div>
      </div> -->
    
    <!-- <div class="list-group ml-5 mr-5 mb-2">
      <a href="grafico" class="list-group-item list-group-item-action">
        <div class="código ml-auto">
          {{ acao.name }}
        </div>
        <div class="nome mr-auto">
            <h4>{{ acao.symbol }} <span class="badge badge-warning mr-auto">{{ acao.price }}</span></h4>
        </div>
      </a>
    </div> -->







  
    <script src="{% static 'static/js/bootstrap.js' %}"></script>
  </body>
</html> 