{% load static%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Meus investimentos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="../static/css/meus_investimentos.css" />

  </head>
  <body>    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a href="/busca" class="navbar-brand">
        <img id="logo" src="../static/images/logo_cortado.png" alt="Logo"
      /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/busca">Busca<span class="sr-only">(current)</span></a>
          </li>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/carrinho">Carrinho</a>
          </li>
          <form id = "sair" method="GET">
            {% csrf_token %}
            
            <a type="submit" class="nav-link" href ="/meus_investimentos/entrar"> Sair </a>
          </form>
        </ul>
      </div>
    </nav>    
    
    

    {% for acao in acoes %}

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <form method="POST" action="/meus_investimentos/">
                  {% csrf_token %}
                  <input type="hidden" name="symbol" value={{ acao.symbol}}>
                  <input type="hidden" name="name" value={{ acao.name}}>
                  <button type="submit" class="btn btn-success">{{ acao.name }}</button>
                </form>

                <form method="POST" action="/meus_investimentos/">
                  {% csrf_token %}
                  <input type="hidden" name="id" value={{ acao.id }}>
                  <button type="submit" class="btn btn-danger"> Excluir </button>
                </form>

              </div>
            </div>
      <p></p>
    {% endfor %}
  
    <script src="{% static 'static/js/bootstrap.js' %}"></script>
  </body>
</html> 