<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Investimentos</title>

    <link
      rel="shortcut icon"
      href="../static/images/logo.png"
      type="image/png"
    />

    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="../static/css/sobre.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <a href="/home">
        <img id="logo" src="../static/images/logo.png" alt="Logo"
      /></a>

      <!-- <ul>
        <li><a href="/entrar">Entrar</a></li>
        <li><a href="/registrar">Registrar</a></li>
        <li><a href="#">Sobre nós</a></li>
      </ul> -->
    </header>

    <main>
      <h1>Sobre Nós</h1>
      <img id="img" src="../static/images/people.svg" alt="img" />
      <div class="integrantes">
        <div class="integrante">
          <strong>Arthur Foda Br</strong>
          <img src="../static/images/integrantes/arthur.jpg" alt="Arthur" />

          <p>
            Ola meu nome é fulano e este é um texto só pra ver como vai ficar.
            Mandem seus textos pra eu botar aqui.
          </p>
        </div>
        <div class="integrante">
          <strong>Christian Fleury</strong>
          <img
            src="../static/images/integrantes/christian.jpg"
            alt="Christian"
          />

          <p>
            Ola meu nome é fulano e este é um texto só pra ver como vai ficar.
            Mandem seus textos pra eu botar aqui.
          </p>
        </div>
        <div class="integrante">
          <strong>Cicero Neto</strong>
          <img src="../static/images/integrantes/cicero.jpg" alt="Cicero" />

          <p>
            Ola meu nome é fulano e este é um texto só pra ver como vai ficar.
            Mandem seus textos pra eu botar aqui.
          </p>
        </div>
        <div class="integrante">
          <strong>Gabriel Jairo</strong>
          <img src="../static/images/integrantes/cicero.jpg" alt="Gabriel" />

          <p>
            Ola meu nome é fulano e este é um texto só pra ver como vai ficar.
            Mandem seus textos pra eu botar aqui.
          </p>
        </div>
        <div class="integrante">
          <strong>Gilbert Gilbert</strong>
          <img src="../static/images/integrantes/cicero.jpg" alt="Gilbert" />
          <p>
            Ola meu nome é fulano e este é um texto só pra ver como vai ficar.
            Mandem seus textos pra eu botar aqui.
          </p>
        </div>
        <div class="integrante">
          <strong>João Pedro</strong>
          <img src="../static/images/integrantes/joao.jpg" alt="Joao" />

          <p>
            Ola meu nome é fulano e este é um texto só pra ver como vai ficar.
            Mandem seus textos pra eu botar aqui.
          </p>
        </div>
      </div>
    </main>

    <footer>
      <img id="unb" src="../static/images/unb.png" alt="unb" />
      <p>Universidade de Brasília</p>
    </footer>
  </body>
</html>
