<!DOCTYPE html>
<html lang="pt_br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Investimentos</title>
  </head>
  <body>
    <header>
      <link rel="stylesheet" href="/home/arthur/pytemp/carrinho.css" />

      <link
        href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
        rel="stylesheet"
      />

      <a href="#">
        <img
          id="logo"
          src="/home/arthur/Downloads/python_investimentos_logo.png"
          alt="Logo"
        />
      </a>

      <img id="Usuário" src="/home/arthur/pytemp/usuario.png" alt="Usuário" />
    </header>

    <main>
      <div class="tabela-investimentos">
        <div class="item">
          <p>Cielo S.A (CIEL3)</p>
          <p>R$ 3,92</p>
        </div>

        <div class="item">
          <p>OI (OI3)</p>
          <p>R$ 8,55</p>
        </div>

        <div class="item">
          <p>Cielo S.A (CIEL3)</p>
          <p>R$ 3,92</p>
        </div>

        <div class="item">
          <p>Azul (AZU)</p>
          <p>R$ 39,26</p>
        </div>

        <div class="item">
          <p>Santander S.A (SANT2)</p>
          <p>R$ 5,11</p>
        </div>
      </div>

      <div class="direita">
        <div class="total">
          <p>Valor total do carrinho</p>
          <strong> R$ 2868,00 </strong>
        </div>

        <div class="botoes">
          <button>Investir tudo</button>
          <button>Excluir Tudo</button>
        </div>
      </div>
    </main>

    <script src="carrinho.js"></script>
  </body>
</html>
