body {
  margin: 3.2rem;
  background-color: var(--color-background);
}

header .header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .header-content h1 {
  font-size: 2rem;
  font-weight: 400;
  font-style: Archivo;

  color: var(--dark);
}

header .header-content h1 strong {
  font-size: 2rem;
  font-style: Archivo;

  color: var(--logo);
}

.login-form {
  margin-top: 1.6rem;
  display: flex;
  color: var(--color-text-base);
  flex-direction: column;
  font-size: 1.6rem;
}

.login-form label {
  padding-top: 1.6rem;
}

.login-form input {
  margin-top: 0.1rem;
  height: 4rem;
  padding: 0 0.8rem;

  border-radius: 0.8rem;

  border: 1px solid var(--color-line-in-white);
  outline: 0;

  background: var(--color-input-background);
}

#login-button {
  background-color: var(--color-primary);
  color: var(--color-input-background);
  margin-top: 2.8rem;
  transition: background 0.2s;
}

#login-button:hover {
  background-color: var(--logo);
}

.register {
  margin-top: 0.8rem;
  display: flex;
  gap: 0.8rem;

  justify-content: center;
}

#error {
  margin-top: 0.8rem;
  font-style: Archivo;
  color: red;
}

@media (min-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  header .header-content h1 {
    font-size: 2.6rem;
  }

  main .login-form {
    width: 40vw;
  }

  .register {
    margin-top: 2.8rem;
  }
}
