{% extends "base_chart.html" %}

{% block content %}
  <div style="max-width: 930px; max-height: 1050px;">
    <canvas id="productsChart"></canvas>
  </div>
{% endblock %}

{% block scripts %}
<script>
// a função getElementById retorna a referência do elemento através do seu ID
var ctx = document.getElementById("productsChart");

// transforma texto em objeto javascript e salva no 'names' e no 'prices' 
var names = JSON.parse('{{ names|safe }}');
var prices = JSON.parse('{{ prices|safe }}');
var market_caps = JSON.parse('{{ market_caps|safe }}');

// modelo de gráfico de linha do chart.js 
var productsChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: names,
        datasets: [{
            label: 'PTR4',
            data: prices,
            backgroundColor: [
                'rgba(31, 85, 20, 0.5)',
            ],
            borderColor: [
                'rgba(31, 85, 20,1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endblock %}