{% extends "base_chart.html" %}

{% block content %}
  <div style="max-width: 930px; max-height: 1050px;">
    <canvas id="myChart"></canvas>
  </div>
{% endblock %}

{% block scripts %}

    <script>
    var ctx = document.getElementById('myChart').getContext('2d');

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Price'],
            datasets: [{
                label: 'PETR4',
                data:[{{ for_chart|safe }}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    </script>

{% endblock %}